.total {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    align-items: center;
}

.title {
    font-weight: 700;
    color: var(--color-white)
}

.desc {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--color-secondary-dark-2);
}

.output {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 7.1rem;
    color: var(--color-primary);
}