
.header {
    font-weight: 700;
    color: var(--color-secondary-dark-2);
    margin-bottom:  .6rem;
}

.tipsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}

.tipsContainer > div {
     /* margin-left: 0.4rem; */
     margin-top: 1.6rem; 
}

