
.resetContainer {
    margin-top: auto;
}

.resetBtn {
    width: 33.3rem;
    height: 4.8rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0D686D;;
    color: #00474B;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
}

.resetBtn:hover {
    color: #00474B;
    background-color: #9FE8DF;
}